.hide-chat-list {
  display: none;
}

.show-chat-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-background-colour);
  border-radius: 0.5em;
  margin: 1em 0em;
  width: 100%;
}

.chat-header-container {
  padding: 1em 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-background-colour);
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  color: var(--primary-text-colour);
}

.chat-heading {
  font-size: 2em;
  font-weight: bold;
}

.group-chat {
  background-color: var(--brand-colour);
  padding: 0.5em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}

.group-chat:hover {
  cursor: pointer;
  background-color: #15853e;
  color: #fff;
}

.add {
  font-size: 1.5em;
  margin-left: 1em;
}

.chat-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  overflow: auto;
  height: 100%;
  padding: 0em 0.5em;
  padding-bottom: 0.5em;
}

@media screen and (min-width: 769px) {
  .show-chat-list {
    width: 55%;
    max-width: 37%;
  }
  .group-chat {
    font-size: 0.8em;
  }
  .chat-heading {
    font-size: 1.4em;
  }
  .add {
    margin-left: 0.5em;
    width: 1em;
    height: 1em;
  }
  .chat-list-container {
    padding: 0em 1em;
  }
}

@media screen and (min-width: 1050px) {
  .show-chat-list {
    width: 47%;
    max-width: 35%;
  }
  .group-chat {
    font-size: 0.9em;
  }
  .chat-heading {
    font-size: 1.6em;
  }
  .add {
    margin-left: 0.5em;
  }
}

@media screen and (min-width: 1300px) {
  .show-chat-list {
    width: 38%;
    max-width: 38%;
  }
  .group-chat {
    font-size: 1em;
  }
}
