#messages {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5em;
}

.individual-message-container {
  display: flex;
  align-self: flex-start;
}

.space-holder-for-picture {
  width: 32px !important;
  height: 32px !important;
  background-color: var(--primary-background-colour);
}

.in-chat-picture {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  &:hover {
    outline: 2px solid var(--brand-colour);
    cursor: pointer;
  }
}

.group-chat-member-message-container,
.group-chat-loggedInUser-message-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
}

.group-chat-member-message-container {
  background-color: gray;
  flex: 1;
}

.group-chat-loggedInUser-message-container {
  background-color: var(--brand-colour);
}

.individual-message-container-you-sent-message,
.individual-message-container {
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  padding: 0em 0.5em;
  max-width: 85%;
}

.message-time {
  font-weight: 600;
  align-self: flex-end;
}

.chat-date {
  align-self: center;
  background-color: var(--secondary-background-colour);
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  color: var(--primary-text-colour);
}

@media screen and (min-width: 768px) {
  .individual-message-container-you-sent-message,
  .individual-message-container {
    width: 70%;
  }
}
