#error-section {
  z-index: 5;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-heading {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  height: 25%;

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  color: white;
  font-size: 20px;
}

.error-message-container {
  width: 100%;
  background-color: #991b1b;
  height: 125px;
  max-width: 400px;
  border-radius: 1em;
}

.error-body {
  align-self: center;
  padding: 0em 1.5em;
}

.error-text {
  color: #fff;
  margin-top: 1.5em;
}

.not-found-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-background-colour);
  height: 125px;
  max-width: 400px;
  border-radius: 1em;
}

.not-found-text {
  color: #fff;
  padding: 0em 1em;
}

.close-error {
  font-weight: bold;
  font-size: 25px;
}

.close-error:hover {
  color: gray;
  cursor: pointer;
}
