.no-chat-selected-box {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-background-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

#single-chat {
  height: 100%;
  width: 100%;
}

.no-chat-selected-text {
  color: var(--primary-text-colour);
  font-size: 1.2em;
}

.chat-box-heading-icon-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-to-chat-list-button,
.settings-button,
.users-button {
  color: black;
  width: 2em;
  height: 2em;
}

.chat-box-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-colour);
  padding: 0.25em;
  border-radius: 0.5em;
  &:hover {
    cursor: pointer;
    background-color: var(--brand-hover-colour);
    color: #fff;
  }
}

.chat-name {
  color: var(--primary-text-colour);
}

.hide-icon {
  display: none;
}

.messaging-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-colour);
  border-radius: 0.5em;
  padding: 0.5em 0.5em;
  padding-bottom: 0.5em;
  gap: 0.5em;
}

.messages-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  width: 100%;
  height: 100%;
}

#send-message-form {
  width: 100%;
}

.send-message-label {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.send-message {
  background-color: var(--secondary-background-colour);
  align-self: stretch;
  color: var(--primary-text-colour);
  padding: 0em 0.5em;
  &:focus {
    outline: solid 3px #25d366;
  }
}

.send-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-colour);
  padding: 0.25em;
  border-radius: 0.5em;
  &:hover {
    cursor: pointer;
    background-color: var(--brand-hover-colour);
    color: #fff;
  }
}

.send-icon-container-disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-colour);
  border: 2px solid var(--secondary-background-colour);
  padding: 0.25em;
  border-radius: 0.5em;
}

.send-icon-disabled {
  color: var(--secondary-background-colour);
  width: 2em;
  height: 2em;
}

.send-icon,
.message-sending-animation {
  width: 2em;
  height: 2em;
}

.chat-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1em;
  gap: 1em;
}

.load-chat-animation {
  width: 10em;
  height: 10em;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.typing {
  align-self: flex-start;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-animation {
  width: 3em;
  background-color: var(--secondary-background-colour);
  border-radius: 0.5em;
}

@media screen and (min-width: 769px) {
  .no-chat-selected-text {
    font-size: 1em;
  }
}

@media screen and (min-width: 950px) {
  .no-chat-selected-text {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1200px) {
  .no-chat-selected-text {
    font-size: 1.5em;
  }
}
