#signup-section {
  display: flex;
  width: 100%;
  align-self: stretch;
  background-color: transparent;
}

.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;

  align-items: center;
  width: 100%;
}

.signup-container {
  justify-content: flex-start;
  margin-top: 2em;
}

.signup-form {
  max-width: 400px;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-input,
.signup-button {
  border: none;
  border-radius: 0.3em;
  height: 3em;
  width: 100%;
  font-size: 1em;
}

.signup-button {
  margin-top: 1em;
  background-color: #25d366;
  font-weight: bold;
}

.text-input {
  background-color: var(--secondary-background-colour);
  padding: 0em 1em;
  margin-top: 0.5em;
}

.text-input:focus {
  outline: solid 3px #25d366;
}

::placeholder {
  color: #fff;
}

::placeholder:focus {
  color: transparent;
}

input:focus::placeholder {
  opacity: 0;
}

.signup-header {
  color: var(--primary-text-colour);
  margin-bottom: 1em;
  font-size: 2em;
}

.to-login {
  font-weight: bold;
}

.to-login,
.signup-text {
  color: var(--primary-text-colour);
  text-decoration: none;
}

.to-login:hover,
.signup-button {
  cursor: pointer;
}

input::file-selector-button {
  background-color: var(--secondary-background-colour);
  border: none;
  border-radius: 0.3em;
  height: 3em;
  width: 30%;
  font-size: 1em;
  color: #fff;
}

input::file-selector-button:hover {
  cursor: pointer;
}

.image-uploader {
  margin-top: 0.5em;
}

@media screen and (min-width: 768px) {
  .signup-container {
    justify-content: center;
  }
}
