#user-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  gap: 1em;
  padding: 0em 1em;
}

.logo {
  color: var(--brand-colour);
  width: 3em;
  height: 3em;
}

.logo-heading {
  color: white;
  font-size: 3em;
}

.branding {
  display: flex;
  align-items: center;
  height: 75px;
  gap: 1em;
  padding-left: 0.5em;
}

.search-icon {
  width: 1.5em;
  height: 1.5em;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: none;
  width: 200px;
  border-radius: 1.5em;
  height: 2.5em;
  font-size: 1em;
  background-color: #25d366;
  font-weight: bold;
  padding: 0em 1em;
}

.search-button:hover {
  cursor: pointer;
  background-color: #15853e;
  color: #fff;
}

.close-search {
  width: 2.5em;
  height: 2.5em;
  color: #fff;
  &:hover {
    color: #ffffffd7;
    cursor: pointer;
  }
}

.search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 1em;
  height: 48px;
  gap: 1em;
  background-color: var(--secondary-background-colour);
  border-top-right-radius: 0.9em;
}

.search-icon2 {
  width: 2em;
  height: 2em;
  color: #fff;
}

.searchbar {
  height: 2em;
}

.search-bar-input {
  background-color: var(--secondary-background-colour);
  color: #fff;
}

.search-bar-input:focus {
  outline: none;
}

.search-menu {
  position: fixed;
  background-color: var(--primary-background-colour);
  height: 100dvh;
  width: 90%;
  border-bottom-right-radius: 0.9em;
  border-top-right-radius: 0.9em;
  left: 0;
  right: 0;
  transition: transform 0.3s ease-in;
  z-index: 5;
}

.background-dimmer {
  background-color: transparent;
}

.dim-screen {
  transition: all ease-in 0.3s;
  background-color: rgba(211, 211, 211, 0.589);
  z-index: 3;
  width: 100%;
  height: 100dvh;
  position: fixed;
}

.hide-menu {
  transform: translate3d(-100vw, 0, 0);
}

.show-menu {
  transform: translate3d(0vw, 0, 0);
}

.user-profile-picture {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  &:hover {
    outline: 2px solid #25d366;
  }
}

.user-profile-picture-menu {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.bell-icon {
  width: 2em;
  height: 2em;
  color: #fff;
  fill: #fff;
}

.user-profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.dropdown-menu-container {
  position: absolute;
  width: 300px;
  right: 3%;
  top: 6%;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.dropdown-menu-container.open-menu {
  max-height: 400px;
}

.dropdown-menu {
  background-color: var(--secondary-background-colour);
  padding: 20px;
  margin: 10px;
}

.dropdown-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #fff;
  margin: 1em 0em;
}

.dropdown-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  color: var(--primary-text-colour);
}

.dropdown-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 1em 0em;
  color: var(--primary-text-colour);
  &:hover {
    color: lightgray;
    font-weight: bold;
    cursor: pointer;
  }
}

#user-search-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#search-results-container {
  width: 100%;
  height: 100%;
  padding: 1em 1em;
}

@media screen and (min-width: 768px) {
  .search-menu {
    width: 30%;
  }
}

@media screen and (min-width: 1128px) {
  .search-menu {
    width: 25%;
  }
}

@media screen and (min-width: 1536px) {
  .search-menu {
    width: 20%;
  }
}
